body {
    font-family:Verdana,Sans-serif;
    margin:0;
    padding:0;
    background-image: url(bilder/test2.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    
.klein{
    font: 10px Verdana,sans-serif;
    }

div#content {
   background-color: #FFFFFF;
   /*background-image: url(bilder/test.jpg);
   background-position: 0 0;
   background-repeat: no-repeat;
   background-attachment: fixed;*/
   position: absolute; 
   top: 52px; 
   left:175px; 
   right: 25px;
   padding: 10px;
   border: dotted black 1px; 
   }
   
img {
    max-width: 100%;
    height: auto;
}
   
html>body #content {
	background-image: url(bilder/test.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: none;
    }

#links {
    background-color: #FFFFFF;
    /*background-image: url(bilder/test.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    position: relative; 
    top: 52px; 
    left: 25px;
    width: 125px; /*height: 700px; */
    font: 16px Verdana, sans-serif;
    display: block;
    text-align: center;
    padding: 5px 10px;
    /*margin: 0 0 2px;
    border-width: 0; */
    border: dotted black 1px;
    }
    
html>body #links {
	background-image: url(bilder/test.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    padding:0;
    border: none;
    }
    

a:link {
    color:black;
    border-bottom:1px dotted black;
    text-decoration:none;
    }
a:active {
    color:black;
    border-bottom:1px dotted black;
    text-decoration:none;
    }
a:visited {
    color:black;
    border-bottom:1px dotted black;
    text-decoration:none;
    }
a:hover {
    color:black;
    border-bottom:1px solid black;
    /*text-decoration:underline;*/
    }

a:link.bild {
    color:black;
    border:0;
    text-decoration:none;
    }
a:active.bild {
    color:black;
    border:0;
    text-decoration:none;

a:visited.bild {
    color:black;
    border:0;
    text-decoration:none;
    }
a:hover.bild {
    color:black;
    border:0;
    text-decoration:none;
    }
    
